@import 'variables';

.about-container {
  background-color: $body-background;
  margin-top: 60px;
  padding: 1px;

  .basic-info,
  .work {
    background-color: $white-col;
    display: grid;
    margin-top: 33px;
    padding: 10px;

    .basic-info-header {
      border-bottom: 1px solid $body-background;
      color: #8c8c8c;
      font-size: 16px;
      font-weight: 600;
      padding: 10px 5px;

      .basic,
      .work-inline {
        display: inline-block;
      }

      .edit {
        background-color: $header-background;
        border: none;
        float: right;
      }
    }

    .basic-info-content {
      margin: 20px 0 0 0;
      padding: 10px 5px;

      .info-container {
        padding: 5px;

        .info-title {
          color: $black-col;
          font-weight: 600;
          padding: 4px 0;
        }

        .info-description {
          color: #8c8c8c;
          min-height: 30px;
          padding: 4px 0;
        }
      }

      .apply-button-container  {
        padding: 10px;
        text-align: center;

        .apply-changes  {
          background-color: $header-background;
          border: none;
          margin-top: 15px;
          padding: 10px;
        }
      }
    }
  }
}


//media query starts from here
@media screen and (min-device-width: $mobile-min) and (max-device-width: $mobile-max) {
  .about-container {
    margin-top: 0;

    .info-container {
      padding: 5px;

      .info-title {
        display: inline-block;
        width: 37%;
      }

      .info-description {
        display: inline-block;
        width: 61%;
      }
    }

    .apply-button-container  {
      margin-left: 55px;

      .apply-changes  {
        display: inline-block;
      }
    }
  }
}

@media screen and (min-device-width: $tablet-min) and (max-device-width: $tablet-max) {
  .about-container  {
    margin-top: 0;

    .basic-info-content {
      margin: 20px 0 0 0;
    }
  }
  .info-title {
    width: 20%;
  }

  .info-description {
    text-align: center;
    width: 70%;
  }
}
