<div class="friend-container">
  {{#people}}
    <div id="{{sno}}" class="friend-tile {{flag}}">
      <div class="col-md-4">
        <img class="friends-image" src="{{image}}"/>
      </div>
      <div class="friends-info col-md-7">
        <div class=""></div>
        <div class="friends-name">{{name}}</div>
        <div class="friends-job">{{job}}</div>
        <div class="follow">
          <div data-id="{{sno}}" class="btn {{sno}} btn-primary btn-sm follow-unfollow-btn follow-{{follow}}" >Unfollow</div>
        </div>
      </div>
    </div>
  {{/people}}
</div>
