<div class="header">
  <div class="title">Able</div>
  <div class="logout-menu">
    <img class="header-profile-image" src="assets/images/profile.jpg"/>
    <div id="user-fullname"  class="user-name">John Doe</div>

    <div class="dropdown">
      <div class="btn dropdown-toggle" type="button" data-toggle="dropdown">
        <span class="fas fa-angle-down logout-arrow"></span></div>
      <ul class="dropdown-menu dropdown-menu-right">
        <li id="logout" class="btn">Logout</li>
      </ul>
    </div>
  </div>
</div>

<div class="hero-container">
  <div class="hero-img">
    <img class="hero-img" src="assets/images/hero-img.jpg"/>
  </div>
</div>

<div class="row">
  <div id="side-bar" class="side-bar col-md-3"></div>

  <div class="content-body col-md-8">
    <div class="header-menu">
      <div id="timeline" class="col-md-3 menu-content add-border btn">Timeline</div>
      <div id="about" class="col-md-3 menu-content btn">About</div>
      <div id="photos" class="col-md-3 menu-content btn">Photos</div>
      <div id="friends" class="col-md-3 menu-content btn">Friends</div>
    </div>
    <div id="main-content"></div>
  </div>
</div>
