{{#posts}}
  <div class="newpost timeline">
    <div class="timeline-sidebar">
      <div class="point-photo"><img src="../assets/images/profile.jpg"/></div>
      <div class="post-indicator"></div>
      <div class="vertical-line">
      </div>
    </div>
    <div class="post-container">
      <div class="post-heading">
        <div class="user-name"></div>
        <div class="timeline-info">posted on your timeline</div>
        <div id="{{i}}" data-id="{{time}}" class="time post-time"></div>
      </div>
      <div class="post-image"><img src="{{image}}"/></div>
      <div class="post-footer">
        <div class="user-name"></div>
        <div class="timeline-info">posted on your timeline</div>
        <div class="post-description">{{desc}}</div>
      </div>
    </div>
  </div>
{{/posts}}
