<!--suggested profile starts from here-->
<div class="sidebar-container">
  <div class="profile-container">
    <div class="profile-photo-container">
      <img class="image" src="../assets/images/profile.jpg"/>
    </div>
    <div class="profile-name">John Doe</div>
    <div class="profile-job">Developer</div>
    <div class="social-profile">
      <div class="following-container">
        <div class="following-count">10</div>
        <div class="following-text">Following</div>
      </div>
      <div class="follower-container">
        <div class="follower-number">10</div>
        <div class="follower-text">Followers</div>
      </div>
      <div class="activity-container">
        <div class="activity-number">1</div>
        <div class="activity-text">Activities</div>
      </div>
    </div>
  </div>
  <!--Who to follow section starts from here-->
  <div class="suggestion-container">
    <div class="suggestion-header">
      <div class="heading">WHO TO FOLLOW</div>
    </div>
    <div class="suggestion-body">
      {{#people}}
        <div class="follow-suggestion data-{{flag}}">
          <div class="suggetion-img">
            <img class="prof-img" src="{{image}}"/>
          </div>
          <div class="suggetion-content">
            <div class="friends-name">{{name}}</div>
            <div class="friends-job">{{job}}</div>
            <div class="after-follow {{name}}">Following</div>
          </div>
          <div data-id="{{sno}}" class="follow-btn btn btn-sm btn-primary">Follow</div>
        </div>
      {{/people}}
    </div>
  </div>
  <!--friends preview list starts from here-->
  <div class="sidebar-friends-container">
    <div class="frined-header">
      <div class="friends-heading">FRIENDS</div>
      <div class="btn btn-sm btn-primary see-more-btn">See all</div>
    </div>
    <div class="friends-body">
    </div>
  </div>
</div>
