<div class="timeline-container">
  <div class="add-post">
    <div class="new-post btn btn-lg btn-primary plus-btn" data-toggle='modal' data-target="#new-post-modal">+</div>
  </div>
  <div class="post-outer-container">
    {{#posts}}
      <div class="display-year hidden"></div>
      <div class="timeline-sidebar">
        <div class="point-photo"><img src="../assets/images/profile.jpg"/></div>
        <div class="post-indicator"></div>
        <div class="vertical-line">
        </div>
      </div>
      <div class="post-container">
        <div class="post-heading">
          <div class="user-name"></div>
          <div class="timeline-info">posted on your timeline</div>
          <div class="time">{{time}}</div>
        </div>
        <div class="post-image"><img src="{{image}}"/></div>
        <div class="post-footer">
          <div class="user-name"></div>
          <div class="timeline-info">posted on your timeline</div>
          <div class="post-description">{{desc}}</div>
        </div>
      </div>
      </div>
    {{/posts}}
  </div>
</div>

<!--Modal to add new post in timeline-->
<div id="new-post-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;
        </button>
        <h4 class="modal-title">Compose New Post</h4>
      </div>
      <div class="modal-body">
        <form id="post-form" role="form">
          <div class="form-group">
            <label for="image">Please enter image url</label><br/>
            <input type="url" name="url" class="form-control" placeholder="image url"  id="photo" required/>
          </div>
          <div class="form-group">
            <label for="job">Comment</label>
            <textarea type="text" class="form-control" placeholder="Post description" id="comments" required></textarea>
          </div>
          <button id="submit-post" type="submit" class="btn btn-default">Post
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
